<!-- <div class="container-fluid shadow-sm">
  <header class="d-flex justify-content-center">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="#" class="nav-link" aria-current>Home</a>
        <a href="#" class="nav-link">Menu</a>
        <a href="#" class="nav-link">Menu 2</a>
        <a href="#" class="nav-link">Menu 3</a>
        <a href="#" class="nav-link">Menu 4</a>
      </li>
    </ul>
  </header>
</div> -->

<p>
  <mat-toolbar color="primary">
    <button mat-mini-fab color="black" aria-label="Example icon button with a menu icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <span >My Kibandaski</span>
    <span class="example-spacer"></span>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</p>


