
.example-spacer {
    flex: 1 1 auto;
  }

  .search{
    max-width: 100%;

  }

  .toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 100%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cart-item-counter{
  width: 2.8em;
  height: 1.2em;
  background-color: red;
  color: white;
  border-radius: 30%;
  position: relative;
  font-size: 0.5em;
  text-align: center;
  top: 0;
  left: 25px;
}

.mat-sidenav-content{
  overflow-x: hidden;
}
.home:hover{
  cursor: pointer;
}
  @media (max-width: 480px){
  .search{
    max-width: 100px;
  }
}
  